body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.AryaTel {
    text-align: center;
    margin-top: -170px; 
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
    color: #4CAF50;
}

h2 {
    color: #4CAF50;
    margin-bottom: 20px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #ffffff;
    background-color: #4CAF50;
    padding: 10px 20px;
    border-radius: 5px;
    display: block;
    text-align: center;
    transition: background-color 0.3s, transform 0.2s;
}

a:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}
